# Ignore the .env file that contains sensitive information
.env

# Ignore Python compiled files
*.pyc
*.pyo
__pycache__

# Ignore virtual environment directory
venv/

# Ignore IDE/editor specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Ignore system-specific files (e.g., macOS, Windows)
.DS_Store
Thumbs.db
