<app-navbar></app-navbar>
<br><br><br>
<div class="container-fluid mt-4">
  <img src="../assets/img/front-pages/backgrounds/hero-bg.png" alt="hero background" class="position-absolute top-0 start-50 translate-middle-x object-fit-cover w-100 h-100">
  
  <div class="row justify-content-center"  >
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow-lg p-3">
        <div class="card-body" *ngIf="ressource">
            <!-- Images -->
            <img [src]="lienRessource | safeUrl" *ngIf="ressource.type === 'IMAGE'" class="img-fluid"/>
          
            <!-- Vidéos -->
            <video width="640" height="360" controls *ngIf="ressource.type === 'VIDEO'">
              <source [src]="lienRessource | safeUrl" type="video/mp4">
              Votre navigateur ne prend pas en charge la balise vidéo.
            </video>
          
            <!-- PDF ou DOCX -->
            <iframe  *ngIf="ressource.type === 'DOCUMENT' && !isViewDoc" [src]="lienRessource | safeUrl" width="100%" height="600px" type="application/pdf">
                Votre navigateur ne prend pas en charge la balise PDF.
              </iframe>
              <iframe *ngIf="isViewDoc" [src]="lienRessource | safeUrl" width="100%" height="600px"></iframe>
            </div>
          
      </div>
    </div>
  </div>
</div>
