<!-- <app-navbar></app-navbar> -->
<div class="container">
    <!-- Create New Event Topic Button -->
    <div class="mb-4 text-end">
      <button (click)="createEventTopic()" class="btn btn-primary">
        Create New Topic
      </button>
      <button routerLink="/predictsou" class="btn btn-primary">
        Prediction
      </button>
    </div>
  
    <!-- Event Topics Display in Flex Row -->
    <div class="row g-4">
        <div *ngFor="let eventTopic of eventTopics" class="col-12">
          <app-topic [eventTopic]="eventTopic"(notifyParent)="onGetNotification()">
            ></app-topic>
        </div>
      </div>
  </div>
  