
<div class="card mb-3 shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">{{ eventTopic.title }}</h5>
     </div>
    <div class="card-body">
      <p class="card-text">{{ eventTopic.description }}</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        <!-- Comments on the left -->
        <span (click)="openCommentSpace()"><i class="fas fa-comments"></i> {{ eventTopic?.commentIds?.length ?? 0 }} Comments</span>
      
        <!-- Reactions on the right with 2px space between them -->
        <div class="d-flex gap-1">
            <div *ngFor="let emojiType of emojiTypes" class="d-flex align-items-center">
              <!-- Emoji and reaction count -->
              <span 
                (click)="addReaction(emojiType)" 
                [ngClass]="{
                  'btn-primary': hasUserReacted(emojiType), 
                  'btn': true
                }"
                style="cursor: pointer; padding: 5px 10px;">
                {{ emojiMap[emojiType]?.emoji }}
                {{ getReactionCount(eventTopic?.reactions, emojiType) > 0 ? getReactionCount(eventTopic?.reactions, emojiType) : "" }}

              </span> 
            </div>
          </div>
          
      </div>
      
  </div>
  <div class="card mb-3 shadow-sm" *ngIf="commentsIsOpen">
    <app-comment [topicId]="eventTopic.id??''" ></app-comment>
  </div>
  