<body>
	<div class="section-py landing-hero position-relative" >
	<div class="container-xxl">
	  <div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">
		  <div class="card">
			<div class="card-body">
			  <a href="#">
				<div class="app-brand justify-content-center">
				  <img src="../../assets/img/images/Waves.png" alt="Waves" class="app-brand-logo me-2">
				</div>
			  </a>
			  <h4 class="mb-2">Bienvenue sur Waves! 👋</h4>
			  <p class="mb-4">Veuillez vous connecter à votre compte et commencer l'aventure</p>
  
			  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" id="formAuthentication" class="mb-3">
				<div *ngIf="message" class="alert alert-warning alert-dismissible" role="alert">
				  {{ message }}
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<div class="mb-3">
				  <label for="email" class="form-label">Email</label>
				  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="username" placeholder="Enter votre Email" required autofocus/>
				</div>
				<div class="mb-2 form-password-toggle">
				  <div class="d-flex justify-content-between">
					<label class="form-label" for="password">Mot de passe</label>
					<a routerLink="/email-input">
					  <small>Mot de passe oublié?</small>
					</a>
				  </div>
				  <div class="input-group input-group-merge mb-4">
					<input type="password" id="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter votre mot de passe" required aria-describedby="password"/>
					<span class="input-group-text cursor-pointer">
					  <i class="bx bx-hide"></i>
					</span>
				  </div>
				  <div class="mb-3">
					<button class="btn btn-primary d-grid w-100" type="submit">Connecter</button>
				  </div>
				</div>
			  </form>
  
			  <p class="text-center">
				<span>Nouveau sur notre plateforme ?</span>
				<a routerLink="/signup" class="fw-medium">
				  <span>Créer un compte</span>
				</a>
			  </p>
			</div>
			<div class="divider my-4">
			  <div class="divider-text">or</div>
			</div>
			<div class="d-flex justify-content-center">
			  <a href="#" class="btn btn-icon btn-label-facebook me-3">
				<i class="tf-icons bx bxl-facebook"></i>
			  </a>
			  <a (click)="loginWithGoogle()" class="btn btn-icon btn-label-google-plus me-3">
				<i class="tf-icons bx bxl-google"></i>
			  </a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	</div>
  </body>