<div class="container">
    <h2>Liste des ressources</h2>
  
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <table class="resource-table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Type</th>
          <th>Catégorie</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ressource of ressources">
          <td>{{ ressource.titre }}</td>
          <td>{{ ressource.description }}</td>
          <td>{{ ressource.type }}</td>
          <td>{{ ressource.category }}</td>
          <td>
            <button (click)="deleteRessource(ressource.idRessource)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  