<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <div class="card">
          <div class="card-body">
  
            <a routerLink="/home">
              <div class="app-brand justify-content-center mb-3">
                <img src="assets/img/images/Waves.png" alt="Waves" class="app-brand-logo me-2">
              </div>
            </a>
  
            <h5 class="mb-2 text-center">Réinitialiser votre mot de passe 🔒</h5>
  
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <input type="password" formControlName="password" class="form-control" placeholder="Nouveau mot de passe" />
                <div class="text-danger" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
                  Mot de passe requis.
                </div>
              </div>
  
              <div class="mb-3">
                <input type="password" formControlName="repeatPassword" class="form-control" placeholder="Confirmez le mot de passe" />
                <div class="text-danger" *ngIf="resetForm.get('repeatPassword')?.invalid && resetForm.get('repeatPassword')?.touched">
                  Confirmation requise.
                </div>
              </div>
  
              <button class="btn btn-primary w-100" type="submit" [disabled]="resetForm.invalid || isLoading">
                {{ isLoading ? 'Réinitialisation en cours...' : 'Réinitialiser le mot de passe' }}
              </button>
  
              <div class="text-success mt-2" *ngIf="successMessage">{{ successMessage }}</div>
              <div class="text-danger mt-2" *ngIf="errorMessage">{{ errorMessage }}</div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
